body{
    font-family: Arial, sans-serif;
    background-color: #05050510;
    text-align: center;
    margin-top: 100px;
    }
img{
    width: 200px;
    border: 3px solid #C10514;
    border-radius: 20px;
}
.contenedor{
    text-align: center;
    width: 500px;
    margin: auto;
    margin-top: 20px;
    padding: 0 20px 20px 20px;
}
h1{
    color: #C10514;
    font-weight: 900;
    font-size: 30px;
}
.btnyes{
    font-size: 16px;
    font-weight: 900;
    color: white;
    border: none;
    width: 120px;
    border: 3px solid #C10514;
    border-radius: 5px;
    padding: 10px;
    background-color: #C10514;
    margin: 0px 30px 0px 50px;
    transition: transform 0.3s, background-color 0.3s;
}
.btnno{
    font-size: 16px;
    font-weight: 900;
    color: #C10514;
    border: none;
    width: 120px;
    border: 3px solid #C10514;
    border-radius: 5px;
    padding: 10px;
    margin: 0px 50px 0px 30px;
    transition: transform 0.3s, background-color 0.3s;
}
.btnyes:hover,
.btnno:hover {
    transform: scale(1.1); /* Escala el botón al 500% de su tamaño original */
}
.btnyes:active,
.btnno:active {
    background-color: #91020c; /* Cambia el color del botón mientras se mantiene presionado */
}
